@page "/"



@if (_showCreateOrder)
{
    <CreateOrder 
        OnOrderCreated="(createdOrder) => HandleOnOrderCreated(createdOrder)" 
        OnClickButtonClose="() => _showCreateOrder = false" />
}
<div class="text-center fw-bold m-3 display-5">
    List of orders
</div>
<div class="text-center my-3">
    <button type="button" @onclick="() => _showCreateOrder = true" class="btn btn-primary">
        Create order
    </button>
</div>


<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">State</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in _orders)
            {
                <tr>
                    <th scope="row">@order.Id</th>
                    <td>@order.Name</td>
                    <td>@order.State</td>
                    <td>
                        <button @onclick="() => NavigateToOrder(order)" type="button" class="btn btn-outline-primary btn-sm">
                            Details
                        </button>
                        <button @onclick="() => DeleteOrderAsync(order)" type="submit" class="btn btn-outline-danger btn-sm">
                            Delete
                        </button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

@code {
    [Inject] private HttpClient _httpClient { get; set; }
    [Inject] private NavigationManager _navigationManager { get; set; }
    [Inject] private APIEndpoints _apiEndpoints { get; set; }

    private bool _showCreateOrder = false;
    private List<OrderDTO> _orders = new List<OrderDTO>();

    protected override async Task OnInitializedAsync()
    {
        _orders = await _httpClient.GetFromJsonAsync<List<OrderDTO>>($"{_apiEndpoints.ServerBaseAddress}/Order") ?? _orders;
    }

    private async Task DeleteOrderAsync(OrderDTO order)
    {
        var response = await _httpClient.DeleteAsync($"{_apiEndpoints.ServerBaseAddress}/Order/{order.Id}");
        if (response.IsSuccessStatusCode)
        {
            _orders.Remove(order);
        }
        else
        {
            Console.WriteLine("Failed DeleteOrderAsync");
        }
    }

    private void HandleOnOrderCreated(OrderDTO createdOrder)
        => _orders.Add(createdOrder);

    private void NavigateToOrder(OrderDTO order)
    => _navigationManager.NavigateTo($"Order/{order.Id}");
}