@inject HttpClient _httpClient

<!---->

<div class="modal fade show d-block" id="staticBackdrop" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Create order</h1>
                <button type="button" @onclick="() => OnClickButtonClose.InvokeAsync()" class="btn-close" aria-label="Close"></button>
            </div>
            <EditForm Model="_createWindowDTO" OnValidSubmit="CreateWindowAsync">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="Name" class="form-label">Name</label>
                        <InputText @bind-Value="_createWindowDTO.Name" class="form-control" id="Name" />
                    </div>
                    <div class="mb-3">
                        <label for="Quantity" class="form-label">Quantity</label>
                        <InputNumber @bind-Value="_createWindowDTO.Quantity" class="form-control" id="Quantity" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" @onclick="() => OnClickButtonClose.InvokeAsync()" class="btn btn-secondary">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int OrderId { get; set; }
    [Parameter]
    public EventCallback OnClickButtonClose { get; set; }
    [Parameter]
    public EventCallback<WindowDTO> OnWindowCreated { get; set; }

    private CreateWindowDTO _createWindowDTO;
    

    protected override void OnInitialized()
    {
        _createWindowDTO = new CreateWindowDTO()
        {
            Name = "",
            Quantity = 0,
            OrderId = OrderId
        };
    }

    private async Task CreateWindowAsync()
    {
        Console.WriteLine($"CreateOrderAsync: {_createWindowDTO.Name}; {_createWindowDTO.Quantity}");
        var response = await _httpClient.PostAsJsonAsync<CreateWindowDTO>("https://localhost:7147/Window", _createWindowDTO);
        if (response.IsSuccessStatusCode)
        {
            var created = await response.Content.ReadFromJsonAsync<WindowDTO>();
            if (created is null)
            {
                Console.WriteLine("Created is null");
            }
            else
            {
                await OnWindowCreated.InvokeAsync(created);
                Console.WriteLine("Success");
            }
        }
        else
        {
            Console.WriteLine("Failed");
        }
        await OnClickButtonClose.InvokeAsync();
    }
}
